<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gradle + Spring MVC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}" />
</head>
<body>

<div class="container-fluid">
    <h2> Create new song: </h2>
    <br/>
    <form th:action="${'/music/add'}" th:object="${musics}" method="post">
        <div class="row">
            <div class="col-xs-2">
                <label>Song name</label>
                <div class="text-danger" th:if="${error != ''}" th:text="${error}"></div>
                <input class="form-control" type="text" th:name="song_name" th:value="${musics}"/>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-2">
                <label>Author</label>
                <select class="form-control" th:name="author_song">
                    <option th:each="authors, iterStat : ${authors}"
                            th:value="${authors.getIdRecord()}"
                            th:text="${authors.getAuthorName()}"></option>
                </select>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-1">
                <a href="/music" class="btn btn-default btn-block">Back</a>
            </div>
            <div class="col-xs-1">
                <input type="submit" class="btn btn-default btn-block" value="Add"/>
            </div>
        </div>
    </form>
</div>

</body>
</html>