<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gradle + Spring MVC</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}" />
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2">
            <a th:href="@{'~/music'}">Music</a>
            |
            <a th:href="@{'~/author'}">Authors</a>
        </div>
    </div>
</div>

</body>
</html>